{% extends 'base.html' %}
{% block content %}
  {% for video in videos %}
    <div class="col-md-4">
    <div class="card mb-4 box-shadow">
      <iframe class="embed-responsive-item" src="{{ video.video_url }}"
        allowfullscreen></iframe>
      <div class="card-body">
        <p class="card-text">{{ video.name }}</p>
        <p class="card-text">{{ video.text }}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <a class="btn btn-primary" href="#" role="button">Link</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  {% endfor %}
{% endblock %}